.body-container {
  background-color: #6e6e6e;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
